<div class="news_wrapper">
    <section class="page-header parallaxie padding_top center-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="whitecolor font-light bottom20">News</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us" class="bglight padding_top_half">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Expertise</li>
                    </ul>
                    <div class="news_item shadow bgwhite relative">
                        <div class="news_desc text-left br20">
                            <h3 class="main-heading bottom35 bluecolor">OUR EXPERTISE</h3>
                            <p class="top20 bottom20 sans greycolor">With our knowledge of chemical industry coupled
                                with our unique set of integrated core competencies, we provide high-quality diversified
                                service to different sets of industries.
                            </p>
                            <div class="tab_container shadow-inset">
                                <div class="tabs">
                                    <button class="tab" *ngFor="let tab of tabs" [class.active]="activeTab === tab.id"
                                        (click)="selectTab(tab.id)">
                                        {{ tab.label }}
                                    </button>
                                </div>
                                <div class="tab-content">
                                    <div *ngFor="let tab of tabs" [id]="tab.id" class="content"
                                        [class.active]="activeTab === tab.id" [ngStyle]="{'text-align': tab.align}">
                                        <h2>{{ tab.title }}</h2>
                                        <p>{{ tab.content }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>