<div class="news_wrapper">
    <section class="page-header parallaxie padding_top center-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="whitecolor font-light bottom20">Our Expertise</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us" class="bglight padding_top_half">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Our Expertise</li>
                    </ul>
                    <div class="news_item shadow bgwhite relative">
                        <div class="news_desc text-left br20">
                            <h3 class="main-heading bottom35 bluecolor">OUR EXPERTISE</h3>
                            <p class="top20 bottom20 sans greycolor">With our knowledge of chemical industry coupled
                                with our unique set of integrated core competencies, we provide high-quality diversified
                                service to different sets of industries.
                            </p>
                            <div class="tab_container shadow-inset">
                                <div class="tabs wow animated fadeInUp" data-animation="fadeInUp"
                                    data-wow-duration="1.5s" data-wow-delay="300ms">
                                    <button class="tab" *ngFor="let tab of tabs" [class.active]="activeTab === tab.id"
                                        (click)="selectTab(tab.id)">
                                        {{ tab.label }}
                                    </button>
                                </div>
                                <div class="tab-content">
                                    <!-- <div class="content"> -->
                                    <div class="tab-content current" id="tab-1" *ngIf="activeTab == 'Chemistry'">
                                        <h3 class="text-capitalize font-light darkcolor bottom10" id="chemistry-we-do">
                                            Chemistry we do</h3>
                                        <p class="sans">We distribute and deliver a wide range of high-quality
                                            speciality chemicals products and processing through our in-house
                                            developed chemistry.</p>
                                        <ul class="honeycomb" lang="es">
                                            <li class="honeycomb-cell wow animated fadeInLeft"
                                                data-animation="fadeInLeft" data-wow-duration="1.5s"
                                                data-wow-delay="100ms">
                                                <div class="honeycomb-cell__title">Air Oxidation</div>
                                            </li>
                                            <li class="honeycomb-cell wow animated fadeInLeft"
                                                data-animation="fadeInLeft" data-wow-duration="1.5s"
                                                data-wow-delay="100ms">
                                                <div class="honeycomb-cell__title">Cyclization</div>
                                            </li>
                                            <li class="honeycomb-cell wow animated fadeInRight"
                                                data-animation="fadeInRight" data-wow-duration="1.5s"
                                                data-wow-delay="100ms">
                                                <div class="honeycomb-cell__title">Hydrolysis</div>
                                            </li>
                                            <li class="honeycomb-cell wow animated fadeInRight"
                                                data-animation="fadeInRight" data-wow-duration="1.5s"
                                                data-wow-delay="100ms">
                                                <div class="honeycomb-cell__title">Ammonolysis</div>
                                            </li>
                                            <li class="honeycomb-cell wow animated fadeInLeft"
                                                data-animation="fadeInLeft" data-wow-duration="1.5s"
                                                data-wow-delay="100ms">
                                                <div class="honeycomb-cell__title">Fermentation</div>
                                            </li>
                                            <li class="honeycomb-cell wow animated fadeInRight"
                                                data-animation="fadeInRight" data-wow-duration="1.5s"
                                                data-wow-delay="100ms">
                                                <div class="honeycomb-cell__title">Nucleophilic Substitution</div>
                                            </li>
                                            <li class="honeycomb-cell wow animated fadeInRight"
                                                data-animation="fadeInRight" data-wow-duration="1.5s"
                                                data-wow-delay="100ms">
                                                <div class="honeycomb-cell__title">Condensation</div>
                                            </li>
                                            <li class="honeycomb-cell wow animated fadeInLeft"
                                                data-animation="fadeInLeft" data-wow-duration="1.5s"
                                                data-wow-delay="100ms">
                                                <div class="honeycomb-cell__title">Hydrogenation</div>
                                            </li>
                                            <li class="honeycomb-cell wow animated fadeInRight"
                                                data-animation="fadeInRight" data-wow-duration="1.5s"
                                                data-wow-delay="100ms">
                                                <div class="honeycomb-cell__title">Vapor-phase Amination</div>
                                            </li>
                                            <li class="honeycomb-cell honeycomb__placeholder"></li>
                                        </ul>
                                    </div>

                                    <div class="tab-content current" id="tab-2" *ngIf="activeTab == 'Technologies'">
                                        <h3 class="text-capitalize font-light darkcolor bottom10" id="chemistry-we-do">
                                            Technologies</h3>
                                        <p class="sans wow animated fadeInUp" data-animation="fadeInUp"
                                            data-wow-duration="1.5s" data-wow-delay="200ms">We integrate
                                            state-of-the-art manufacturing process technologies
                                            and
                                            capabilities as well as leverage innovation for all our chemistry processes
                                            to bring consistent value to our customers.</p>
                                        <div class="d-flex technologies top20">
                                            <div class="block d-flex tech-box  wow animated fadeInUp"
                                                data-animation="fadeInUp" data-wow-duration="1.5s"
                                                data-wow-delay="200ms" *ngFor="let tech of TECH_LIST">
                                                <div class="icon effect-hover">
                                                    <img [src]="tech.icon" [alt]="tech.text">
                                                </div>
                                                <div class="p_text">
                                                    <p class="greycolor">{{tech.text}}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-content current" id="tab-3" *ngIf="activeTab == 'R & D'">
                                        <h3 class="text-capitalize font-light darkcolor bottom10" id="rnd">R&amp;D
                                            Facilities</h3>
                                        <p class="bottom35 lh-22">We have a dedicated R&amp;D facility that allows us to
                                            work on
                                            different chemistries. Our R&amp;D capability includes an in-house pilot
                                            facility which supports our quest of achieving the next level of technology
                                            development. To further enhance these technologies, we also have a
                                            commercialisation facility. Our R&amp;D facility harbours the technology of
                                            custom synthesis that we do for various customers which is common across
                                            various
                                            chemistries.</p>
                                        <ul class="heading_space">
                                            <li class="expertise-list-style">
                                                <img src="assets/images/expertise/centralised.png" class="effect-hover"
                                                    style="margin-right: 20px;">
                                                Innovation infrastructure consists of centralised research and
                                                manufacturing
                                                facility at Nayaka, Gujarat
                                            </li>
                                            <li class="expertise-list-style">
                                                <img src="assets/images/expertise/spread.png" class="effect-hover"
                                                    style="margin-right: 20px;">
                                                Spread over 2,200 sq meters
                                            </li>
                                            <li class="expertise-list-style">
                                                <img src="assets/images/expertise/chemistry.png" class="effect-hover"
                                                    style="margin-right: 20px;">
                                                Equipped with state-of-the-art equipment and systems (Amination
                                                Technology,
                                                Fermentation Technology, Green Chemistry, Heterocycle Chemistry,
                                                High-Pressure Reaction, Technology and more)
                                            </li>
                                            <li class="expertise-list-style">
                                                <img src="assets/images/expertise/future.png" class="effect-hover"
                                                    style="margin-right: 20px;">
                                                Long tail of products to support our growth in future
                                            </li>
                                            <li class="expertise-list-style">
                                                <img src="assets/images/expertise/experienced.png" class="effect-hover"
                                                    style="margin-right: 20px;">
                                                200+ years of Cumulative experienced team
                                            </li>
                                        </ul>
                                        <ul class="mobile-600scale">
                                            <li class="mob-view-rnd top10">
                                                <div class="">Autoclave</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">GC/ HPLC</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">Centrifuge</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">Continuous Flow Reactor/ CSTR</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">Spray dryer</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">Fermenters</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">Fractional Distillation Set-up</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">UV/VIS Spectro photometer</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">Auto Tritator/ Karlfisher Apparatus/ pH Meter</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">Utilities for Lab: liq.N2, Air, Vacuum, CO, Cl2 &amp; H2
                                                    handling facilities, Liquid Dosing Pump etc.</div>
                                            </li>
                                            <li class="mob-view-rnd top10">
                                                <div class="">Facilities to perform high and low temperature
                                                    (-70°〜300°C)
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>