<div class="about_wrapper">
    <section class="page-header parallaxie padding_top center-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="whitecolor font-light bottom20">About Us</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us" class="bglight padding_top_half">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                    </ul>
                    <div class="about_item shadow bgwhite relative">
                        <div class="abs_img">
                            <img src="assets/images/map.png" alt="">
                        </div>
                        <div class="news_desc text-left">
                            <h3 class="main-heading bottom35 bluecolor">CREATING A BETTER TOMORROW THROUGH CHEMISTRY
                            </h3>
                            <p class="top20 bottom20 sans greycolor">Jindal Group is a diverse business conglomerate,
                                engaged in
                                Textile,
                                Packaging, Speciality Chemicals and Mobilitric (EV) segment. Group has a rich legacy of
                                3 decades in the leading position in many business areas.</p>
                            <p class="top20 bottom20 sans greycolor"><span class="sans fontbold greycolor">Jindal
                                    Worldwide</span> is one of
                                the
                                foremost textile
                                companies
                                operating in 4
                                continents based in Ahmedabad, Gujarat. We embarked on this journey in the early 80s and
                                have continued to grow strongly, underpinning our innovation capabilities and
                                state-of-the-art manufacturing unit that brings in the flavour of diversity in our
                                fabric manufacturing facility.</p>
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-lg-12 col-md-12 col-sm-12 order-1 order-lg-2">
                                    <div class="heading-title">
                                        <p class="top20 bottom20 text-aliign"
                                            style="line-height: 30px;font-style: italic;color: #333;background: #f8f8f8;padding: 30px;margin: 10px 0 10px 0;border-left: 5px solid #ca1974;">
                                            Jindal Speciality Chemicals is part of the <a
                                                href="https://www.jindaltextiles.com" style="font-weight: 600;">Jindal
                                                Worldwide</a>.</p>
                                    </div>
                                </div>
                            </div>
                            <h3 class="main-heading top20 bottom35 text-center greycolor">We are amongst the largest
                                denim
                                manufacturer
                                and textile
                                players in India.</h3>
                            <div class="d-flex text-center">
                                <div class=" col-md-4 col-sm-4 icon-counters block">
                                    <div class="heading-title sans bottom20 greycolor fontbold" data-target="4000">0<i
                                            class="fa fa-plus"></i>
                                    </div>
                                    <div class="p_text sans greycolor">Design Per Annum</div>
                                </div>
                                <div class=" col-md-4 col-sm-4 icon-counters block">
                                    <div class="heading-title sans bottom20 greycolor fontbold" data-target="20">0<i
                                            class="fa fa-plus"></i> <br class="hide-tab-mobile"> Countries</div>
                                    <div class="p_text sans greycolor">Export Presence</div>
                                </div>
                                <div class=" col-md-4 col-sm-4 icon-counters block">
                                    <div class="heading-title sans bottom20 greycolor fontbold" data-target="140">0<br
                                            class="hide-tab-mobile">
                                        mm</div>
                                    <div class="p_text sans greycolor">Production Capacity of Denim Fabric Per Annum
                                    </div>
                                </div>
                            </div>
                            <p class="top20 bottom20 sans greycolor">Jindal Speciality Chemicals is a part of the Jindal
                                Group. It is conceived with a vision of “Become a leading speciality chemical company by
                                delivering best-in-class products that enrich the quality of life”. The company has
                                identified speciality chemicals as its springboard for growth, aligned with the
                                country’s vision of “Aatmanirbhar Bharat”. Over the last many years, the company has
                                invested heavily in its R&D and innovation and is now well-placed to be part of this
                                growing segment. Our subsidiary Expede-Tech Research & Development is responsible for
                                innovation, experimentation, problem-solving and development of new, safer and
                                sustainable production processes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>