<section class="page-header parallaxie padding_top center-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="whitecolor font-light bottom20">Sustainability</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sustainability</li>
                </ul>
                <div class="news_item shadow">
                    <div class="news_desc text-left">
                        <h3 class="main-heading bottom35">Beyond Business - Enriching Lives</h3>
                        <p class="bottom35 font_16 lh-26">We at Jindal Speciality Chemicals believe that sustainability
                            is all
                            about
                            embracing the mindset of doing the right thing always. To achieve long-term success and
                            feasibility in our quest for sustainability, we have developed a philosophy where we attempt
                            to balance the three important factors - environment, people and economy.</p>
                        <div class="inner-flex inner-flex.inner-flex-small">
                            <img src="assets/images/sustainability.png" alt="sustainability"
                                style="width: 70%; margin: auto;">
                            <p class="text__block-desc font_16 lh-26">By being sustainable in our actions we are
                                foremost
                                conserving our natural environment, not letting our resources exhaust and we are
                                balancing
                                out to avoid the disaster of climate change. These decisions not only work towards our
                                needs
                                but also indirectly manages the safety and health component of people.</p>
                            <p class="font_16 lh-26">It is not farfetched that sustainability in
                                manufacturing
                                and supply chains has a positive impact on the overall economy of an organization as it
                                leads to innovation and innovation leads to growth. This leads to more and more
                                environmental-friendly investments, completing the circle of planet, people and profit.
                            </p>
                        </div>

                        <div class="row pb-30">
                            <div class="col-lg-7 col-md-12 col-sm-12 center-box-align">
                                <h3 class="font-light top20 darkcolor bottom10" id="energy" style="color: #ca1b75;">
                                    Energy and Climate
                                </h3>
                                <p class="font_16 top20 lh-26">We believe innovative technologies are key drivers for
                                    the production
                                    of renewable energy. So we are moving past the traditional production processes and
                                    are adopting new
                                    sustainable technologies such as solar panels to reduce carbon emissions and energy
                                    consumption in
                                    our productions.</p>
                                <p class="font_16 lh-26">Going forward, with more access to renewable energy we are
                                    determined
                                    to
                                    reduce emissions by adopting zero-carbon-emission processes.</p>

                            </div><!-- /.text-block -->
                            <!-- gallery item #2 -->

                            <div class="col-lg-5 col-md-12 col-sm-12 center-box-align">
                                <div class="gallery-item">
                                    <a class="popup-gallery-item image" href="assets/images/energy1.jpg">
                                        <img src="assets/images/energy1.jpg" alt="gallery img">
                                    </a>
                                </div><!-- /.gallery-item -->
                            </div><!-- /.col-sm-6 -->
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-12 col-sm-12 image center-box-align">
                                <img src="assets/images/water-treatment.png" alt="chart" class="mb-40">
                            </div><!-- /.col-sm-6 -->
                            <div class="col-lg-8 col-md-12 col-sm-12 center-box-align">
                                <div class="inner-flex inner-flex-small top30">
                                    <h3 class="font-light top20 darkcolor bottom10" id="water" style="color: #ca1b75;">
                                        Water
                                        Management</h3>
                                    <p class="text__block-desc">The world is expected to face water shortages in the
                                        future
                                        due to a growing population and the rise in water consumption. The decline in
                                        renewable water resources caused by the effects of climate change is going to
                                        make
                                        it more challenging for us.</p>

                                    <p class="text__block-desc">To tackle this issue at hand, we are reducing our water
                                        footprint in our processes through combination of changing behaviour, reducing
                                        overall water consumption and increasing internal reuse by adopting initiatives
                                        like
                                        rainwater harvesting and waste-water treatment. Also, many of our plants are ZLD
                                        (Zero Liquid Discharge).</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-7 col-md-12 col-sm-12 center-box-align">
                                    <div class="inner-flex inner-flex-small top30 px">
                                        <h3 class="font-light top20 darkcolor bottom10" id="water"
                                            style="color: #ca1b75;">Growth and Innovation</h3>
                                        <p class="text__block-desc">In providing solutions to the challenges of our
                                            time, we are committed to creating value for our society. Through
                                            innovation, we are able to provide products and services that address
                                            challenges such as climate change, and access to energy, water, food and
                                            healthcare.</p>
                                        <p class="text__block-desc">We believe that business opportunities in addressing
                                            emerging challenges such as the need to reduce plastic waste and increase
                                            recycling rates can be leveraged towards our ambition to grow our business.
                                        </p>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-12 col-sm-12 image center-box-align px">
                                    <img src="assets/images/growth.jpg" alt="chart" class="mb-40 top30">
                                </div><!-- /.col-sm-6 -->
                            </div>
                            <div class="text__block mb-30 inner-flex">
                                <h3 class="font-light top20 darkcolor bottom10" id="responsible"
                                    style="color: #ca1b75;">Responsible Supply Chain</h3>
                                <p class="text__block-desc">Our supply chain is a crucial part of our business, and we
                                    take a strategic approach to sourcing. We source commodities and equipment from
                                    national and international suppliers as per business requirements.</p>
                                <p class="text__block-desc">We have a procurement policy along with a supplier and
                                    contractor sustainability management policy and supplier code of conduct that
                                    meticulously governs our relationship with partners. The policies enable the
                                    supplier screening process and help evaluate them on the basis of social and
                                    environmental parameters.</p>
                                <p class="text__block-desc">We are investing in appropriate technologies to create
                                    best-in-class procurement processes with the implementation of the latest IT
                                    systems.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>