<section class="page-header parallaxie padding_top center-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="whitecolor font-light bottom20">Sustainability</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Sustainability</li>
                </ul>
                <div class="news_item shadow">
                    <div class="news_desc text-left">
                        <h3 class="main-heading bottom35">Beyond Business - Enriching Lives</h3>
                        <p class="bottom35 font_16">We at Jindal Speciality Chemicals believe that sustainability is all
                            about
                            embracing the mindset of doing the right thing always. To achieve long-term success and
                            feasibility in our quest for sustainability, we have developed a philosophy where we attempt
                            to balance the three important factors - environment, people and economy.</p>
                        <div class="inner-flex inner-flex.inner-flex-small">
                            <img src="assets/images/sustainability.png" alt="sustainability"
                                style="width: 70%; margin: auto;">
                            <p class="text__block-desc font_16">By being sustainable in our actions we are foremost
                                conserving our natural environment, not letting our resources exhaust and we are
                                balancing
                                out to avoid the disaster of climate change. These decisions not only work towards our
                                needs
                                but also indirectly manages the safety and health component of people.</p>
                            <p class="text__block-desc font_16">It is not farfetched that sustainability in
                                manufacturing
                                and supply chains has a positive impact on the overall economy of an organization as it
                                leads to innovation and innovation leads to growth. This leads to more and more
                                environmental-friendly investments, completing the circle of planet, people and profit.
                            </p>
                        </div>

                        <div class="inner-flex">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>