.page-header {
    background-image: url('src/assets/images/about-us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
}

.center-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.font_16 {
    font-size: 16px;
}

.padding_top {
    padding-top: 7.5rem;
}

.pb-30 {
    padding: 30px 0;
}

.inner-flex-small {
    gap: 1.5rem;
}

.top20 {
    margin-top: 20px;
}

.top30 {
    margin-top: 30px;
}

section {
    position: relative;
}

.font-light {
    font-weight: 300;
}

.bottom20 {
    margin-bottom: 20px;
}

.lh-26 {
    line-height: 26px;
}

h2 {
    font-size: 3.5rem;
}

.news_item:hover h3, .meta-tags li a:hover, .meta-tags li a:focus, .widget_search .input-group-addon {
    color: #ca1b75;
}

.bottom35 {
    margin-bottom: 35px;
}

.main-heading {
    font-weight: 700;
    color: #443189;
}

h3 {
    font-size: 1.875rem;
}

.news_item .news_desc {
    padding: 40px 30px;
    margin-bottom: 50px;
}

p, h3 {
    color: #777777;
}

.news_item.shadow {
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 20px;
}

.image img,
.gallery-item a img {
    border-radius: 10px;
}

.text__block-desc {
    font-size: 16px;
    line-height: 26px;
}

.px {
    padding: 0 15px;
}