<div class="news_wrapper">
    <section class="page-header parallaxie padding_top center-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="whitecolor font-light bottom20">Gallery</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us" class="bglight padding_top_half">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Gallery</li>
                    </ul>
                    <div class="gallery_item shadow bgwhite relative">
                        <div class="news_desc text-left br20">
                            <div class="gallery_container">
                                <div class="d-flex justify-content-center align-items-center">
                                    <div class="image">
                                        <a href="assets/images/s1.jpg" data-fancybox="gallery"
                                            data-caption="India Chem Exhibition in Delhi, India on 2nd-3rd November 2022"
                                            data-thumb="assets/images/s1.jpg">
                                            <img src="assets/images/s1.jpg" class="hover-shadow"
                                                alt="Modern Factory Floor">
                                        </a>
                                    </div>
                                    <div class="image">
                                        <a href="assets/images/s2.jpg" data-fancybox="gallery"
                                            data-caption="India Chem Exhibition in Delhi, India on 2nd-3rd November 2022"
                                            data-thumb="assets/images/s2.jpg">
                                            <img src="assets/images/s2.jpg" class="hover-shadow"
                                                alt="Advanced Machinery Setup">
                                        </a>
                                    </div>
                                    <div class="image">
                                        <a href="assets/images/s3.jpg" data-fancybox="gallery"
                                            data-caption="India Chem Exhibition in Delhi, India on 2nd-3rd November 2022"
                                            data-thumb="assets/images/s3.jpg">
                                            <img src="assets/images/s3.jpg" class="hover-shadow" alt="Product Close-up">
                                        </a>
                                    </div>
                                    <div class="image">
                                        <a href="assets/images/s4.jpg" data-fancybox="gallery"
                                            data-caption="India Chem Exhibition in Delhi, India on 2nd-3rd November 2022"
                                            data-thumb="assets/images/s4.jpg">
                                            <img src="assets/images/s4.jpg" class="hover-shadow"
                                                alt="Quality Inspection Unit">
                                        </a>
                                    </div>
                                    <div class="image">
                                        <a href="assets/images/s5.jpg" data-fancybox="gallery"
                                            data-caption="India Chem Exhibition in Delhi, India on 2nd-3rd November 2022"
                                            data-thumb="assets/images/s5.jpg">
                                            <img src="assets/images/s5.jpg" class="hover-shadow"
                                                alt="Global Shipping Network">
                                        </a>
                                    </div>
                                    <div class="image">
                                        <a href="assets/images/s6.jpg" data-fancybox="gallery"
                                            data-caption="India Chem Exhibition in Delhi, India on 2nd-3rd November 2022"
                                            data-thumb="assets/images/s6.jpg">
                                            <img src="assets/images/s6.jpg" class="hover-shadow" alt="R&D Department">
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>