:root {
    --color-white: white;
}

/*----- Footer -----*/

.white-color {
    color: white;
}

.black-color {
    color: black;
}

.fw700 {
    font-weight: 700;
}

.lh-30 {
    line-height: 30px;
}

.f-paragraph-color {
    color: #cc1b74;

}

.bg-black {
    background-color: black;
}

.footer-bg-colr {
    background-color: #aa218014;
}

.padding_half {
    padding: 4.375rem 0;
}

footer .copyrights {
    font-size: 13px;
}

.footer-logo {
    display: inline-block;
    max-width: 230px;
}

footer ul.social-icons:not(.small) li a {
    height: 58px;
    width: 58px;
    line-height: 58px;
    font-size: 20px;
    border: none;
    background: transparent;
}

footer ul.social-icons li a {
    background: #f5f5f5;
}

footer .copyrights>a:hover, footer .copyrights>a:focus {
    color: #00bcd4;
}

.copyright {
    padding: 1rem 0;
    color: #777777;
}

.back-top, .back-top:hover, .back-top:focus, ul.social-icons li a::before {
    background: rgb(155 210 48 / 90%);
    border-radius: 50px;
}

.back-top-visible {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.back-top {
    right: 20px;
    font-size: 26px;
    position: fixed;
    z-index: 1600;
    opacity: 0;
    visibility: hidden;
    bottom: 70px;
    background: #777982;
    transform: scale(0);
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
}
/*----- Footer ends -----*/