<div class="jindal_chemical_wrapper">



   <router-outlet></router-outlet>

   <!--Site Footer Here-->

   <!--Site Footer Here-->

   <footer id="site-footer" class="bg-black padding_half animated fadeInUp" data-animation="fadeInUp" data-wow-duration="3000ms"
      data-wow-delay="900ms">
      <div class="container">
         <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 text-center">
               <!-- Footer Logo Start -->
               <div class="footer-logo">
                  <a href="index.php"><img src="assets/images/footer-logo.png" alt="Logo Black"></a><br>
               </div>
               <!-- Footer Logo End -->
               <!-- Contact Info Start -->

               <div class="contact-info" style="margin: 10px;">
                  <p class="white-color">"Jindal House" Opp. Shivranjani Shyamal 132 Ft Ring Road, Satellite, Ahmedabad
                     - 380015, Gujarat, INDIA.
                     <br><br> <a href="tel:+9107971001500">+91 079 71001500</a>
                     <br><br> <a href="mailto:connect@jindalfinechem.com">connect@jindalfinechem.com</a>
                  </p>
               </div>
               <!-- Contact Info End -->
               <!-- Footer Social Icons Start -->

               <ul class="social-icons bottom25 wow fadeInUp" data-wow-delay="300ms">
                  <li><a href="https://facebook.com/JindalCompanies" target="_blank"><i class="fab fa-facebook-f"></i>
                     </a> </li>
                  <li><a href="https://www.instagram.com/jindalcompanies" target="_blank"><i
                           class="fab fa-instagram"></i> </a> </li>
                  <li><a href="https://www.linkedin.com/company/jindalcompanies/" target="_blank"><i
                           class="fab fa-linkedin-in"></i> </a> </li>
               </ul>
               <!-- Footer Social Icons End -->
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12 ">

               <!-- Footer Nav Start -->

               <p class="footer-link-heading fw700" style="color: #cc1b74;">SITE LINKS</p>
               <ul class="footer-links lh-30">
                  <li><a href="index.php" class="white-color">Home</a></li>
                  <li><a href="about-us.php" class="white-color">About Us</a></li>
                  <li><a href="expertise.php" class="white-color">Expertise</a></li>
                  <li><a href="applications.php" class="white-color">Applications</a></li>
                  <li><a href="products.php" class="white-color">Products</a></li>
                  <li><a href="sustainability.php" class="white-color">Sustainability</a></li>
               </ul>
               <!-- Footer Nav End -->
            </div>
            <div class="col-lg-2 col-md-6 col-sm-12">
               <!-- Footer Nav Start -->
               <p class="footer-link-heading fw700 f-paragraph-color">MEDIA</p>
               <ul class="footer-links lh-30">
                  <li><a href="news.php" class="white-color">News</a></li>
                  <!--<li><a href="reports.php">Reports</a></li>
                           <li><a href="insights.php">Insights</a></li>
                           <li><a href="blogs.php">Blogs</a></li>-->
               </ul>
               <!-- Footer Nav End -->
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
               <!-- Footer Nav Start -->
               <p class="footer-link-heading fw700 f-paragraph-color">CAREERS</p>
               <ul class="footer-links lh-30">
                  <li><a href="life-at-jindal.php" class="white-color">Life at Jindal Speciality Chemicals India</a></li>
                  <li><a href="join-team.php" class="white-color">Join our team</a></li>
               </ul>
               <!-- Footer Nav End -->
            </div>
            <div class="col-12 text-center bg-bottm text-center">
               <!-- Copyright Start -->
               <div class="copyright"> &copy; 2022 Jindal Speciality Chemical, All Rights
                  Reserved.</div>
               <!-- Copyright End -->
            </div>
         </div>

      </div>

   </footer>

   <!--Footer ends-->

   <!--Footer ends-->

</div>