<section class="page-header parallaxie padding_top center-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="whitecolor font-light bottom20">Join our team</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container padding_top">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/career">Career</a></li>
                    <li class="breadcrumb-item active" aria-current="page">join our team</li>
                </ul>
                <div class="news_item shadow">
                    <div class="news_desc text-left">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                                <div class="heading-title">
                                    <h3 class="main-heading bottom35 wow animated fadeInLeft" data-animation="fadeInLeft"
                                        data-wow-duration="1s" data-wow-delay="300ms">Join our team and be a part of
                                        our culture</h3>
                                    <p class="font_20">Please share your updated resume on <a
                                            href="mailto:connect@jindalfinechem.com">connect@jindalfinechem.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>