<div class="news_wrapper">
    <section class="page-header parallaxie padding_top center-block">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="text-center">
                        <h2 class="whitecolor font-light bottom20">News</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="about-us" class="bglight padding_top_half">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">News</li>
                    </ul>
                    <div class="news_item shadow bgwhite relative">
                        <div class="news_desc text-left br20">
                            <div class="section shadow-inset text-center">
                                <a class="" href="/gallery-2022" routerLink="/gallery-2022">
                                    <div class="img_container mtb0">
                                        <img src="assets/images/exhibition-banner.jpg" alt="Exhibition Banner">
                                    </div>
                                    <!-- <div class="button_wrap"> -->
                                    <a href="/gallery-2022" routerLink="/gallery-2022" class="button gradient_bg_two">
                                        View
                                        More
                                    </a>
                                    <!-- </div> -->
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>