<section class="page-header parallaxie padding_top center-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="whitecolor font-light bottom20">Products</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container padding_top">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Products</li>
                </ul>
                <div class="news_item shadow">
                    <div class="news_desc text-left">
                        <h3 class="main-heading bottom35 lh-20">HIGH PERFORMANCE CHEMICALS</h3>
                        <p class="bottom35 font_16 lh-20 sans lh-20">Our products are optimized to meet your
                            expectations. It
                            is manufactured to provide the highest quality and best results. Our speciality chemical
                            products are recognized as best-in-class by industry leaders, top research labs, and
                            manufacturers.
                        </p>
                        <section id="aboutus" class="bg-specific-css">
                            <div class="container">
                                <div class="row aboutus-wrapp d-flex justify-content-center align-items-center">
                                    <div class="col-lg-4 col-md-6 col-sm-12 tab_padding">
                                        <div class="image animated fadeInLeft" data-animation="fadeInLeft"
                                            data-wow-duration="700ms" data-wow-delay="300ms">
                                            <img src="assets/images/methyl-cyanide.png" alt="image">
                                        </div>
                                    </div>
                                    <div class="col-lg-8 col-md-6 col-sm-12 tab_padding">
                                        <div class="heading-title">
                                            <h3 class="darkcolor" style="color: #ca0f76;">
                                                ACETONITRILE</h3>
                                            <p class="top20 bottom20 text-aliign animated fadeInUp lh-20"
                                                data-animation="fadeInUp" data-wow-duration="700ms"
                                                data-wow-delay="300ms">
                                                Acetonitrile, is the simplest organic nitrile with the formula CH3CN and
                                                structure H3C-C≡N. It appears as a colorless liquid with an aromatic
                                                odor. It is mainly used as a polar aprotic solvent in organic synthesis
                                                and in the purification process. It is also used to make
                                                pharmaceuticals, perfumes, rubber products, pesticides, acrylic nail
                                                removers and batteries.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product-box top30">
                                        <div class="image">
                                            <img src="assets/images/technology.jpg" alt="">
                                        </div>
                                        <div class="product-content">
                                            <h3 class="darkcolor top30">Technology</h3>
                                            <p class="sans lh-20">Fixed-bed vapour phase reaction and fractional
                                                distillation.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product-box top30">
                                        <div class="image">
                                            <img src="assets/images/chemistry.jpg" alt="">
                                        </div>
                                        <div class="product-content">
                                            <h3 class="darkcolor top30 lh-20">Chemistry</h3>
                                            <p class="sans lh-20">Catalytic ammonolysis of acetic acid.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="product-box top30">
                                        <div class="image">
                                            <img src="assets/images/applications.jpg" alt="">
                                        </div>
                                        <div class="product-content">
                                            <h3 class="darkcolor top30 lh-20">Applications</h3>
                                            <p class="sans lh-20"><b
                                                    style="color: #423289; font-weight: bold">Laboratory Chemical:</b>
                                                Mobile phase in HPLC.<br>
                                                <b style="color: #423289; font-weight: bold">Synthesis Intermediate:</b>
                                                Perfumes, Agro and Pharmaceutical industry.<br>
                                                <b style="color: #423289; font-weight: bold">Solvent:</b> Extraction,
                                                Electrochemical cells, Pharmaceutical, Biochemical synthesis
                                                process.<br>
                                                <b style="color: #423289; font-weight: bold">Other Industrial
                                                    Application:</b> Removing solution, transition metal complex
                                                catalyst
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="inner-flex small-gap animated fadeInUp mt-20" data-animation="fadeInUp" data-wow-duration="200ms" data-wow-delay="100ms">
                            <h3 class="text-capitalize font-light darkcolor bottom10">
                                <b style="color: #ca1b75;">Product Identifiers:</b>
                            </h3>
                            <table class="table table-bordered animated fadeInUp" data-animation="fadeInUp"
                                data-wow-duration="200ms" data-wow-delay="100ms">
                                <tbody>
                                    <tr>
                                        <td>Chemical Formula</td>
                                        <td>C2H3N</td>
                                    </tr>
                                    <tr>
                                        <td>Preferred IUPAC Name</td>
                                        <td>Acetonitrile</td>
                                    </tr>
                                    <tr>

                                        <td>CAS Number</td>
                                        <td>75-05-8</td>
                                    </tr>
                                    <tr>
                                        <td>HSN Code</td>
                                        <td>29269000</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="inner-flex small-gap animated fadeInUp" data-animation="fadeInUp" data-wow-duration="200ms" data-wow-delay="100ms">
                            <h3 class="text-capitalize font-light darkcolor bottom10">
                                <b style="color: #ca1b75;">Physical Properties</b>
                            </h3>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Molecular wt.</td>
                                        <td>41.05 g</td>
                                    </tr>
                                    <tr>
                                        <td>Density @ 25 ºC</td>
                                        <td>0.786 g/mL</td>
                                    </tr>
                                    <tr>
                                        <td>Refractive Index 20 ºC</td>
                                        <td>1.3441</td>
                                    </tr>
                                    <tr>
                                        <td>Boiling Point</td>
                                        <td>81 - 83 °C</td>
                                    </tr>
                                    <tr>
                                        <td>Freezing Point</td>
                                        <td>Below -45 °C</td>
                                    </tr>
                                    <tr>
                                        <td>Solubility in water @ 25 ºC</td>
                                        <td>Miscible in all proportions</td>
                                    </tr>
                                    <tr>
                                        <td>Flash Point (closed cup)</td>
                                        <td>2 °C</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="inner-flex small-gap animated fadeInUp" data-animation="fadeInUp" data-wow-duration="200ms" data-wow-delay="100ms">
                            <h3 class="text-capitalize font-light darkcolor bottom10">
                                <b style="color: #ca1b75;">Specification</b>
                            </h3>
                            <table class="table table-bordered">
                                <tbody>
                                    <tr>
                                        <td>Appearance</td>
                                        <td>A Clear Colorless Liquid</td>
                                    </tr>
                                    <tr>
                                        <td>Color (APHA max.)</td>
                                        <td>10</td>
                                    </tr>
                                    <tr>
                                        <td>Purity by GC</td>
                                        <td>99.8% min.</td>
                                    </tr>
                                    <tr>
                                        <td>Specific Gravity @ 20 ºC</td>
                                        <td>0.780 to 0.785</td>
                                    </tr>
                                    <tr>
                                        <td>Water by K.F. (wt. %)</td>
                                        <td>0.05% max.</td>
                                    </tr>
                                    <tr>
                                        <td>Acetone (ppm)</td>
                                        <td>50 max.</td>
                                    </tr>
                                    <tr>
                                        <td>Free Ammonia (ppm)</td>
                                        <td>6 max.</td>
                                    </tr>
                                    <tr>
                                        <td>Propionitrile (ppm)</td>
                                        <td>300 max.</td>
                                    </tr>
                                    <tr>
                                        <td>Acrylonitrile by GC (ppm)</td>
                                        <td>10 max.</td>
                                    </tr>
                                    <tr>
                                        <td>Acidity (as Acetic Acid) (wt. %)</td>
                                        <td>0.05% max.</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>