<section class="page-header parallaxie padding_top center-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="whitecolor font-light bottom20">Products</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container padding_top">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item"><a routerLink="/">Careers</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Life at JSC </li>
                </ul>
                <div class="news_item shadow">
                    <div class="news_desc text-left">
                        <h3 class="main-heading bottom35 lh-20">LIFE AT JSC</h3>
                        <div class="container-fluid">
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-lg-2 col-md-3 col-sm-6 nopadding order-1 order-lg-1">
                                    <div class="image hover-effect career-icon">
                                        <img src="assets/images/work-cultuire.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-6 order-2 order-lg-2">
                                    <div class="heading-title">
                                        <h3 class="font-light top20 darkcolor bottom10">Our Culture</h3>
                                        <p class="top20 bottom20 text-aliign wow animated fadeInUp"
                                            data-animation="fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                                            “A good culture builds a great organization!” </p>
                                        <p class="top20 bottom20 text-aliign wow animated fadeInUp"
                                            data-animation="fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                                            Our culture is the sum of our values and beliefs. We firmly believe that our
                                            culture reflects in everything we do - from thought-process to the services
                                            we deliver to our customers.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-lg-2 col-md-3 col-sm-6 nopadding order-1 order-lg-2">
                                    <div class="image hover-effect career-icon">
                                        <img src="assets/images/diversify.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-6 order-2 order-lg-1">
                                    <div class="heading-title">
                                        <h3 class="font-light top20 darkcolor bottom10">Diversity, Equity &amp;
                                            Inclusion</h3>
                                        <p class="top20 bottom20 text-aliign wow animated fadeInUp"
                                            data-animation="fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                                            JSCI promotes diversity, equity and inclusion across the whole organization.
                                            We believe the power of diverse perspective and backgrounds foster a
                                            stronger, inclusive workplace culture. Your contribution of unique ideas,
                                            thoughts, and perceptions play a vital role in uplifting the organization
                                            and catering the customer needs through innovations.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-lg-2 col-md-3 col-sm-6 nopadding order-1 order-lg-1">
                                    <div class="image hover-effect career-icon">
                                        <img src="assets/images/training1.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-6 order-2 order-lg-2">
                                    <div class="heading-title">
                                        <h3 class="font-light top20 darkcolor bottom10">Learning &amp; Development</h3>
                                        <p class="top20 bottom20 text-aliign wow animated fadeInUp"
                                            data-animation="fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                                            At JSCI, training and education of employees are given the highest priority.
                                            We know to stay relevant in this fast-paced world upskilling and reskilling
                                            are important. That's why we offer training programs, career opportunities
                                            that ensure our employees stay up-to-date with the latest industry trends
                                            and help them go beyond their potential.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-lg-2 col-md-3 col-sm-6 nopadding order-1 order-lg-2">
                                    <div class="image hover-effect career-icon">
                                        <img src="assets/images/safe-workspace.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-8 col-md-9 col-sm-6 order-2 order-lg-1">
                                    <div class="heading-title">
                                        <h3 class="font-light top20 darkcolor bottom10">Safe Workplace</h3>
                                        <p class="top20 bottom20 text-aliign wow animated fadeInUp"
                                            data-animation="fadeInUp" data-wow-duration="700ms" data-wow-delay="300ms">
                                            In the quest of achieving goals, our employees' safety should never take a
                                            back seat. So, we are committed to enhancing safety in our workplace by
                                            providing proper safety tools, guidelines, and risk reduction through risk
                                            assessment.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</section>