.page-header {
    background-image: url('src/assets/images/about-us.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 0px;
}


.center-block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.padding_top {
    padding-top: 1.5rem;
}

section {
    position: relative;
}

.font-light {
    font-weight: 300;
}

.bottom20 {
    margin-bottom: 20px;
}

h2 {
    font-size: 3.5rem;
}

.news_item:hover h3,
.meta-tags li a:hover,
.meta-tags li a:focus,
.widget_search .input-group-addon {
    color: #ca1b75;
}

.bottom35 {
    margin-bottom: 35px;
}

.main-heading {
    font-weight: 700;
    color: #443189;
}

h3 {
    font-size: 1.875rem;
}

.news_item .news_desc {
    padding: 40px 30px;
    margin-bottom: 50px;
}

.news_item.shadow {
    box-shadow: 0 0px 5px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px 20px 20px 20px;
}

.image,
.image img {
    position: relative;
    border-radius: 10px;
}

.content-box-css {
    margin-left: -66px;
    padding-left: 83px;
    padding-bottom: 30px;
    background: #f1f1f1a3;
    border-radius: 10px;
    padding-top: 10px;
}

.top-dotted-pading {
    padding-top: 30px;
    padding-bottom: 25px;
}

.img-box-css {
    z-index: 1;
    margin-top: -130px;
}

.section-top-pading {
    padding-top: 50px;
}

.text-aliign {
    line-height: 25px;
    font-size: 15px;
    text-align: left;
}


@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 1024px) {

    .section-top-pading {
        padding-top: 10px;
    }

    .image,
    .image img {
        position: relative;
        border-radius: 10px;
        height: 40svh;
    }

    .content-box-css {
        padding-bottom: 10px;
    }

    .img-box-css {
        z-index: 1;
        margin-top: -100px;
    }

    .center-brand[_ngcontent-pkt-c0] {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}


@media only screen and (max-width: 1000px) {

    .img-box-css {
        z-index: 1;
        margin-top: -15px;
    }

    .content-box-css {
        margin-left: 0;
        padding-left: 0;
        padding-bottom: 0;
        background: transparent;
        border-radius: 0;
        padding-top: 0;
    }

    .image,
    .image img {
        border-radius: 10px;
        height: 32svh;
        margin-right: 10px;
    }
}

@media only screen and (max-width: 991px) {

    .container {
        max-width: 100%;
    }

    .padding_top {
        padding-top: 3.5rem;
    }

    .bottom35 {
        margin-bottom: 20px;
    }

    h3 {
        font-size: 1.5rem;
    }

    .image,
    .image img {
        border-radius: 10px;
        margin-right: 10px;
        height: 100%;
    }

    .content-box-css {
        margin-left: 34px;
        padding-left: 0;
        padding-bottom: 0;
        background: transparent;
        border-radius: 0;
        padding-top: 20px;
    }

    .section-top-pading {
        padding: 0 !important;
    }

    .top-dotted-pading {
        padding-top: 30px;
        padding-bottom: 25px;
    }
}

@media only screen and (max-width: 767px) {

    .container {
        max-width: 100%;
    }

}

@media only screen and (max-width: 540px) {

    .image,
    .image img {
        border-radius: 10px;
        margin-right: 0 !important;
        height: 100%;
        width: 100%;
    }

    .img-box-css {
        padding: 0 !important;
    }

    .content-box-css {
        margin-left: 0;
        padding-left: 0 !important;
        padding-bottom: 0 !important;
        background: transparent;
        border-radius: 0;
        padding-top: 20px;
    }

    .padding_top {
        padding-top: 1.5rem;
    }

    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
        padding-right: 0;
        padding-left: 0;
    }
    .breadcrumb{
        padding: 0;

    }
}

@media only screen and (max-width: 370px) {

    .container {
        max-width: 100%;
    }

    .news_item.shadow {
        box-shadow: unset;
    }

    h2 {
        font-size: 3rem;
    }

    .news_item .news_desc {
        padding: 0;
        margin-bottom: 0;
    }

    .news_item {
        background: transparent;
    }
}