<section class="page-header parallaxie padding_top center-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2 class="whitecolor font-light bottom20">Applications</h2>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-blog" class="bglight padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Applications</li>
                </ul>
                <div class="news_item shadow">
                    <div class="news_desc text-left">
                        <h3 class="main-heading bottom35">TOUCHING LIVES IN MORE THAN ONE WAYS</h3>
                        <p class="bottom35">Ever since our commencement, we have conducted business with a larger
                            purpose by serving a wide range of customers across several industries. As a trusted
                            organization in the chemical industry, we have been a comprehensive provider to every
                            customer and supported their growth over the years.</p>
                        <section class="section-top-pading" style="padding-bottom: 20px;">
                            <div class="container top-dotted-pading">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 img-box-css wow animated fadeInLeft"
                                        data-animation="fadeInLeft" data-wow-duration="1.5s" data-wow-delay="100ms">
                                        <div class="image">
                                            <img src="assets/images/agro.jpg" alt="image">
                                        </div>
                                        <div class="about-gradient gradient_bg_two"></div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 content-box-css wow animated fadeInRight"
                                        data-animation="fadeInRight" data-wow-duration="1.5s" data-wow-delay="100ms">
                                        <div class="heading-title">
                                            <h3 class="text-capitalize top20 bottom20 font-light darkcolor bottom10"
                                                style="color: #ca1b75;">Agro Intermediates</h3>
                                            <p class="top20 bottom20 text-aliign para-color">
                                                We meet the demands of varied intermediates from the crop science
                                                industry. These intermediates help in the development of top-level
                                                fertilizers, crop defense solutions, seed treatment chemicals etc. Few
                                                of our intermediates also support in manufacturing of specific chemicals
                                                used in herbicides and seed treatment.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Agro Chemicals ends -->
                        <!-- Pharmaceutical -->
                        <section class="section-top-pading" style="padding-bottom: 20px;">
                            <div class="container top-dotted-pading">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 img-box-css wow animated fadeInLeft"
                                        data-animation="fadeInLeft" data-wow-duration="1.5s" data-wow-delay="100ms">

                                        <div class="image">
                                            <img src="assets/images/pharma.jpg" alt="image">
                                        </div>
                                        <div class="about-gradient gradient_bg_two"></div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 content-box-css wow animated fadeInRight"
                                        data-animation="fadeInRight" data-wow-duration="500ms" data-wow-delay="1.5s">
                                        <div class="heading-title">

                                            <h3 class="text-capitalize top20 bottom20 font-light darkcolor bottom10"
                                                style="color: #ca1b75;">Pharma Intermediates</h3>
                                            <p class="top20 bottom20 text-aliign para-color">
                                                We develop intermediates for pharmaceutical companies which helps them
                                                in the production of drugs. These intermediates are used in different
                                                stages either as the key ingredient or as a raw material.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Pharmaceutical ends -->
                        <!-- Rubber and Polymer -->

                        <section class="section-top-pading" style="padding-bottom: 20px;">
                            <div class="container top-dotted-pading">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 img-box-css wow animated fadeInLeft"
                                        data-animation="fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.5s">
                                        <div class="image">
                                            <img src="assets/images/rubber.jpg" alt="image">
                                        </div>
                                        <div class="about-gradient gradient_bg_two"></div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 content-box-css wow animated fadeInRight"
                                        data-animation="fadeInRight" data-wow-duration="1.5s" data-wow-delay="1.5s">
                                        <div class="heading-title">
                                            <h3 class="text-capitalize top20 bottom20 font-light darkcolor bottom10"
                                                style="color: #ca1b75;">Rubber and Polymer</h3>
                                            <p class="top20 bottom20 text-aliign para-color">
                                                Our high-quality and high-performance chemicals support the rubber and
                                                polymer industries. Using our established knowledge of material science,
                                                we provide solutions to your challenges.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Rubber and Polymer ends -->
                        <!-- Paint and Dyes -->

                        <section class="section-top-pading" style="padding-bottom: 20px;">
                            <div class="container top-dotted-pading">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 img-box-css wow animated fadeInLeft"
                                        data-animation="fadeInLeft" data-wow-duration="1.5s" data-wow-delay="1.5s">
                                        <div class="image">
                                            <img src="assets/images/paint.jpg" alt="image">
                                        </div>
                                        <div class="about-gradient gradient_bg_two"></div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 content-box-css wow animated fadeInRight"
                                        data-animation="fadeInRight" data-wow-duration="1.5s" data-wow-delay="1.5s">
                                        <div class="heading-title">
                                            <h3 class="text-capitalize top20 bottom20 font-light darkcolor bottom10"
                                                style="color: #ca1b75;">Dyes and Pigment</h3>
                                            <p class="top20 bottom20 text-aliign para-color">
                                                We have a broad portfolio of chemicals that are utilized in the
                                                production of pigments and dyes. We provide innovative chemicals that
                                                enhance effectiveness, performance and sustainability.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Paint and Dyes ends -->

                        <!-- Industrial Solvent -->

                        <section class="section-top-pading" style="padding-bottom: 20px;">
                            <div class="container top-dotted-pading">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 img-box-css wow animated fadeInLeft"
                                        data-animation="fadeInLeft" data-wow-duration="300ms" data-wow-delay="1.5s">
                                        <div class="image">
                                            <img src="assets/images/solvent.jpg" alt="image">
                                        </div>
                                        <div class="about-gradient gradient_bg_two"></div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 content-box-css wow animated fadeInRight"
                                        data-animation="fadeInRight" data-wow-duration="300ms" data-wow-delay="1.5s">
                                        <div class="heading-title">
                                            <h3 class="text-capitalize top20 bottom20 font-light darkcolor bottom10"
                                                style="color: #ca1b75;">Industrial Solvent</h3>
                                            <p class="top20 bottom20 text-aliign para-color">
                                                We develop and deliver industrial solvents for many different
                                                applications and industries. A variety of solvents are also used as
                                                chemical intermediates, fuels, components of varied products etc.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <!-- Industrial Solvent ends -->

                        <!-- Life Science and Food Application -->

                        <section class="section-top-pading" style="padding-bottom: 20px;">
                            <div class="container top-dotted-pading">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 img-box-css wow animated fadeInLeft"
                                        data-animation="fadeInLeft" data-wow-duration="500ms" data-wow-delay="1.5s">
                                        <div class="image">
                                            <img src="assets/images/life-science.jpg" alt="image">
                                        </div>
                                        <div class="about-gradient gradient_bg_two"></div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 content-box-css wow animated fadeInRight"
                                        data-animation="fadeInRight" data-wow-duration="500ms" data-wow-delay="1.5s">
                                        <div class="heading-title">
                                            <h3 class="text-capitalize top20 bottom20 font-light darkcolor bottom10"
                                                style="color: #ca1b75;">Life Science and Food</h3>
                                            <p class="top20 bottom20 text-aliign para-color">
                                                We provide services for every step in the food production process. We
                                                also deliver chemistry for life science, basically, it covers everything
                                                that impacts our lives on a regular basis.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>

                        <!-- Life Science and Food Application ends -->


                        <!-- Industrial Specialities -->

                        <section class="section-top-pading" style="padding-bottom: 20px;">
                            <div class="container top-dotted-pading">
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-lg-4 col-md-12 col-sm-12 order-1 order-lg-2 img-box-css wow animated fadeInLeft"
                                        data-animation="fadeInLeft" data-wow-duration="300ms" data-wow-delay="1.5s">
                                        <div class="image">
                                            <img src="assets/images/industry-specialist.jpg">
                                        </div>
                                        <div class="about-gradient gradient_bg_two"></div>
                                    </div>
                                    <div class="col-lg-8 col-md-12 col-sm-12 order-1 order-lg-2 content-box-css wow animated fadeInRight"
                                        data-animation="fadeInRight" data-wow-duration="300ms" data-wow-delay="1.5s">
                                        <div class="heading-title">
                                            <h3 class="text-capitalize top20 bottom20 font-light darkcolor bottom10"
                                                style="color: #ca1b75;">Industrial Specialities</h3>

                                            <p class="top20 bottom20 text-aliign para-color">

                                                Our industrial speciality products are used in the production of various
                                                end results. These products are also utilized as intermediates for a
                                                wide range of ingredients.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>