<div class="home_wrapper">
    <section class="section1 swiper1 ">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img_container">
                        <img src="../../assets/images/banner-medical-1.jpg" alt="">
                    </div>
                    <div class="text">
                        <p class="font_60">Driving innovation
                            <span class="d_block">delivering excellence</span>
                            fostering sustainability
                        </p>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>


        </div>
    </section>
</div>