<div class="home_wrapper">
    <section class="section1 swiper1 swiper ">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img_container">
                        <img src="../../assets/images/banner-medical-1.jpg" alt="">
                    </div>
                    <div class="text">
                        <h1 class="font-stylo font-xlight darkcolor animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3000ms" data-wow-delay="900ms">Adding</h1>

                        <h1 class="font-stylo fontbold gradient_color_banner animated fadeInUp"
                            data-animation="fadeInUp" data-wow-duration="3000ms" data-wow-delay="900ms">chemistry</h1>

                        <h1 class="font-stylo font-xlight darkcolor animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3000ms" data-wow-delay="900ms">to your life</h1>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img_container">
                        <img src="../../assets/images/banner-medical-2.jpg" alt="">
                    </div>
                    <div class="text">
                        <h1 class="font-stylo font-xlight darkcolor animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3000ms" data-wow-delay="900ms" style="color: white;">Towards</h1>

                        <h1 class="font-stylo fontbold animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3000ms" data-wow-delay="900ms" style="color: white;">a sustainable &
                            meaningful</h1>

                        <h1 class="font-stylo font-xlight darkcolor animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3000ms" data-wow-delay="900ms" style="color: white;">growth</h1>

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img_container">
                        <img src="../../assets/images/banner-medical-3.jpg" alt="">
                    </div>
                    <div class="text">
                        <h1 class="font-stylo font-xlight darkcolor animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3000ms" data-wow-delay="900ms">Driving innovation</h1>

                        <h1 class="font-stylo fontbold gradient_color_banner animated fadeInUp"
                            data-animation="fadeInUp" data-wow-duration="3000ms" data-wow-delay="900ms">delivering
                            excellence</h1>

                        <h1 class="font-stylo font-xlight darkcolor animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3000ms" data-wow-delay="900ms">fostering sustainability</h1>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>


        </div>
    </section>

    <section id="aboutus" class="section2 aboutus relative">
        <div class="illustration">
            <img src="assets/images/molecules.png" alt="Illustration" class="img-illus">
        </div>
        <div class="container">
            <div class="row aboutus-wrapp d-flex justify-content-center align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-5">
                    <div class="image about-bordered animated fadeInLeft" data-animation="fadeInLeft"
                        data-wow-duration="700ms" data-wow-delay="300ms">
                        <img src="assets/images/about-1.jpg" alt="image">
                    </div>
                    <div class="about-gradient gradient_bg_two"></div>
                </div>

                <div class="col-lg-6 col-md-7 col-sm-7">
                    <div class="heading-title">
                        <h2 class="darkcolor">Who We Are? </h2>
                        <p class="top20 bottom20 text-aliign sasns color-light">
                            Jindal Speciality Chemicals Pvt. Ltd. is a leading chemical manufacturing company of
                            speciality fine chemicals that have applications in agriculture, life sciences and food,
                            industrial solvent, pharmaceutical, dyes and paint, rubber, and polymer sectors.
                        </p>
                        <a href="/about-us" routerLink="/about-us" class="button gradient_bg_two"> Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>