.swiper1 {
    width: 100%;

    /* .swiper-wrapper {
        gap: 100%;
    } */

    .text {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    h1 {
        /* font-size: var(--banner-title-font-size); */
        font-family: var(--light-font-family);
        font-weight: 500;
    }

    .gradient_color_banner {
        color: transparent;
        background-image: var(--bg-gradient-default);
        font-family: var(--bold-font-family);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .swiper-button-next::after {
        margin-right: var(--btn-margin);
    }

    .swiper-button-prev::after {
        margin-left: var(--btn-margin);
    }

    .swiper-button-prev::after,
    .swiper-button-next::after {
        height: 2rem;
        width: 2rem;
        font-size: 2rem !important;
        top: 50%;

    }
}

.section2 {
    background-image: url('/assets/images/dotted-bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 50px;
    z-index: 1;
    padding-bottom: 20px;
}


.illustration {
    position: absolute;
    right: 70px;
    bottom: 20px;
    text-align: right;
    opacity: 0.1;
    width: 18%;
    height: auto;
}

.aboutus-wrapp .about-gradient {
    position: absolute;
    height: 65%;
    width: 75%;
    z-index: -1;
    display: block;
    left: 15px;
    bottom: 0;
    background: var(--btn-bg-gradient-default);
}

.aboutus-wrapp .about-bordered {
    padding: 0 0 15% 15%;
}

.aboutus-wrapp .about-bordered img {
    border: 20px solid #f6f6f6;
}

.section3 {
    z-index: 2;
}

.section3 .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.section3 .heading-title h2 {
    font-size: calc(var(--banner-title-font-size) - .5rem);
    margin: 0 auto;
}

.section3 .icon img {
    width: 80px;
    margin: 0 auto;
}

.process-box {
    border-radius: 16px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 8px -2px rgba(127, 123, 123, 0.5);
    transition: all .5s ease-in;
    padding: 1rem 15px;
    z-index: 2;

}

.process-box:hover {
    box-shadow: 0px 0px 20px -2px rgba(127, 123, 123, 0.5);
}

.section4 {
    z-index: 5;
}

.section4 .left_side {
    justify-self: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section4 .right_side img {
    height: 481px;
}

.heading-title {
    h2 {
        font-weight: 100;
    }
}


@media screen and (max-width:767px) {

    .grid {
        gap: 5rem;
    }

    .section4 .left_side {
        justify-self: left;
        justify-content: left;
        align-items: flex-start;

        /* .mtb0 {
            margin: 0;
        } */
        .d_block {
            display: inline;
        }
    }


}

@media screen and (max-width:540px) {
    .aboutus-wrapp .heading-title {
        padding-top: 28px;
    }

    .illustration {
        bottom: 0;
    }

    .section3 .heading-title h2 {
        font-size: calc(var(--banner-title-font-size) - .8rem);
    }

    .container-padding {
        padding-right: 1rem;
        padding-left: 2rem;
    }
}