<div class="home_wrapper">
    <section class="section1 swiper1 swiper">
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="img_container">
                        <img src="assets/images/banner-medical-1.jpg" alt="Jindal Chemicals Banner">
                    </div>
                    <div class="text">
                        <h1 class="font-stylo font-xlight darkcolor wow animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3s" data-wow-delay="900ms">Adding</h1>

                        <h1 class="font-stylo fontbold gradient_color_banner wow animated fadeInUp"
                            data-animation="fadeInUp" data-wow-duration="3s" data-wow-delay="900ms">chemistry</h1>

                        <h1 class="font-stylo font-xlight darkcolor wow animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3s" data-wow-delay="900ms">to your life</h1>
                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img_container">
                        <img src="assets/images/banner-medical-2.jpg" alt="Jindal Chemicals Banner">
                    </div>
                    <div class="text">
                        <h1 class="font-stylo font-xlight darkcolor wow animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3s" data-wow-delay="900ms" style="color: white;">Towards</h1>

                        <h1 class="font-stylo fontbold wow animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3s" data-wow-delay="900ms" style="color: white;">a sustainable &
                            meaningful</h1>

                        <h1 class="font-stylo font-xlight darkcolor wow animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3s" data-wow-delay="900ms" style="color: white;">growth</h1>

                    </div>
                </div>
                <div class="swiper-slide">
                    <div class="img_container">
                        <img src="assets/images/banner-medical-3.jpg" alt="Jindal Chemicals Banner">
                    </div>
                    <div class="text">
                        <h1 class="font-stylo font-xlight darkcolor wow animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3s" data-wow-delay="900ms">Driving innovation</h1>

                        <h1 class="font-stylo fontbold gradient_color_banner wow animated fadeInUp"
                            data-animation="fadeInUp" data-wow-duration="3s" data-wow-delay="900ms">delivering
                            excellence</h1>

                        <h1 class="font-stylo font-xlight darkcolor wow animated fadeInUp" data-animation="fadeInUp"
                            data-wow-duration="3s" data-wow-delay="900ms">fostering sustainability</h1>
                    </div>
                </div>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>


        </div>
    </section>

    <section class="section2 aboutus section-padding-small relative">
        <div class="illustration">
            <img src="assets/images/molecules.png" alt="Illustration" class="img-illus">
        </div>
        <div class="container">
            <div class="row aboutus-wrapp d-flex justify-content-center align-items-center">
                <div class="col-lg-6 col-md-5 col-sm-5">
                    <div class="image about-bordered wow animated fadeInLeft" data-animation="fadeInLeft"
                        data-wow-duration="1.5s" data-wow-delay="300ms">
                        <img src="assets/images/about-1.jpg" alt="Who We Are">
                    </div>
                    <div class="about-gradient gradient_bg_two"></div>
                </div>
                <div class="col-lg-6 col-md-7 col-sm-7">
                    <div class="heading-title">
                        <h2 class="darkcolor">Who We Are? </h2>
                        <p class="top20 bottom20 text-aliign sans color-light">
                            Jindal Speciality Chemicals Pvt. Ltd. is a leading chemical manufacturing company of
                            speciality fine chemicals that have applications in agriculture, life sciences and food,
                            industrial solvent, pharmaceutical, dyes and paint, rubber, and polymer sectors.
                        </p>
                        <a href="/about-us" routerLink="/about-us" class="button gradient_bg_two"> Read More </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section3 our-process section-padding-small relative">
        <div class="container bottom25">
            <div class="row wow animated fadeInUp" data-animation="fadeInUp" data-wow-duration="1.5s"
                data-wow-delay="300ms">
                <div class="heading-title text-center wow animated fadeInUp" data-animation="fadeInUp"
                    data-wow-duration="1.5s" data-wow-delay="300ms">
                    <h2 class="top20 darkcolor text-capitalize">Touching lives in more <span class="d_block">than one
                            ways</span></h2>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="heading-title text-center wow animated fadeInUp" data-animation="fadeInUp"
                        data-wow-duration="1.5s" data-wow-delay="300ms">
                        <p class="heading_space sans" style="line-height: 25px;font-size: 17px;">
                            Ever since our commencement, we have conducted business with a larger purpose by serving a
                            range of customers across several industries. As a trusted organisation in the chemical
                            industry, we have been a comprehensive provider to every customer and supporting their
                            growth.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-6 wow animated fadeInUp" data-animation="fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="300ms">
                    <a href="/applications" routerLink="/applications">
                        <div class="process-box top20">
                            <span class=" bottom20 icon"><img src="assets/images/agriculture.png"
                                    alt="icon-application"></span>
                            <h4 class="font-light darkcolor bottom25 top10">Agro Intermediates</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 wow animated fadeInUp" data-animation="fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="300ms">
                    <a href="/applications" routerLink="/applications">
                        <div class="process-box top20">
                            <span class="bottom20 icon"><img src="assets/images/pharmaceutical.png"
                                    alt="icon-application"></span>
                            <h4 class="font-light darkcolor bottom25 top10">Pharma Intermediates</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 wow animated fadeInUp" data-animation="fadeInUp" data-wow-duration="800ms"
                    data-wow-delay="350ms">
                    <a href="/applications" routerLink="/applications">
                        <div class="process-box top20">
                            <span class="bottom20 icon"><img src="assets/images/polymer.png"
                                    alt="icon-application"></span>
                            <h4 class="font-light darkcolor bottom25 top10">Rubber and Polymer </h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 wow animated fadeInUp" data-animation="fadeInUp" data-wow-duration="800ms"
                    data-wow-delay="450ms">
                    <a href="/applications" routerLink="/applications">
                        <div class="process-box top20">
                            <span class="bottom20 icon"><img src="assets/images/pain-dyes.png"
                                    alt="icon-application"></span>
                            <h4 class="font-light darkcolor bottom25 top10">Dyes and Pigment</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 wow animated fadeInUp" data-animation="fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="300ms">
                    <a href="/applications" routerLink="/applications">
                        <div class="process-box top20">
                            <span class="bottom20 icon"><img src="assets/images/industrial-solvent.png" width="90px;"
                                    alt="icon-application"></span>
                            <h4 class="font-light darkcolor bottom25 top10">Industrial Solvent</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 wow animated fadeInUp" data-animation="fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="300ms">
                    <a href="/applications" routerLink="/applications">
                        <div class="process-box top20">
                            <span class="bottom20 icon"><img src="assets/images/food-feed.png"
                                    alt="icon-application"></span>
                            <h4 class="font-light darkcolor bottom25 top10"> Life Science and Food</h4>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-6 wow animated fadeInUp" data-animation="fadeInUp" data-wow-duration="1.5s"
                    data-wow-delay="300ms">
                    <a href="/applications" routerLink="/applications">
                        <div class="process-box top20">
                            <span class="bottom20 icon"><img src="assets/images/industrial-specialities.png"
                                    alt="icon-application"></span>
                            <h4 class="font-light darkcolor bottom25 top10">Industrial Speciality</h4>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="section4 relative bglight w100 g25">
        <div class="grid grid_c-1-1">
            <div class="left_side d-flex container-padding wow animated slideInLeft" data-animation="slideInLeft"
                data-wow-duration="1.5s" data-wow-delay="300ms">
                <div class="heading-title">
                    <h2 class="top20 darkcolor text-capitalize">Beyond Business - <span class="d_block">Enriching
                            Lives</span></h2>
                </div>
                <div class="p_text">
                    <p class="heading_space sans color-light font_15">
                        We at Jindal Speciality Chemicals believe that
                        sustainability is all
                        about
                        embracing the mindset
                        of doing the right thing always. To achieve long-term success and feasibility in our quest for
                        sustainability, we have developed a philosophy where we attempt to balance the three important
                        factors - environment, people and economy.</p>
                </div>
                <div class="mtb0" style="width: fit-content;">
                    <a href="/sustainability" routerLink="/sustainability" class="button gradient_bg_two"> Read More
                    </a>
                </div>
            </div>
            <div class="right_side wow animated slideInRight" data-animation="slideInRight" data-wow-duration="1.5s"
                data-wow-delay="300ms">
                <div class="img_container hover-effect wow animated fadeInRight" data-animation="fadeInRight"
                    data-wow-duration="1000ms" data-wow-delay="400ms">
                    <img class="br10" src="assets/images/split-blog-copy.jpg" alt="Sustainability Image">
                </div>
            </div>
        </div>
    </section>

    <section class="section5 our-process relative">
        <div class="container bottom25">
            <div class="row wow animated fadeInUp" data-animation="fadeInUp" data-wow-duration="1.5s"
                data-wow-delay="300ms">
                <div class="heading-title w100 text-center wow animated fadeInUp" data-animation="fadeInUp"
                    data-wow-duration="1.5s" data-wow-delay="300ms">
                    <h2 class="top20 darkcolor text-capitalize">Our Expertise</h2>
                </div>
                <div class="col-lg-12 col-md-12">
                    <div class="heading-title text-center wow animated fadeInUp" data-animation="fadeInUp"
                        data-wow-duration="1.5s" data-wow-delay="300ms">
                        <p class="heading_space sans" style="line-height: 25px;font-size: 17px;">
                            With our knowledge and experience in chemical industry coupled with our unique set of
                            integrated core <br class="hide-tab-mobile"> competencies we provide high quality
                            diversified
                            service to different
                            sets
                            of industries.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex img_container">
            <div class="cbp-item-wrapper">
                <img src="assets/images/expertise1.jpg" alt="Expertise Chemistry">
                <a routerLink="/expertise" fragment="Chemistry" class="">
                    <div class="overlay center-block whitecolor">
                        <a class="plus" routerLink="/expertise" fragment="Chemistry"></a>
                        <h4 class="top30">CHEMISTRY WE DO</h4>
                    </div>
                </a>
            </div>
            <div class="cbp-item-wrapper">
                <img src="assets/images/expertise2.jpg" alt="Expertise Technologies">
                <a routerLink="/expertise" fragment="Technologies">
                    <div class="overlay center-block whitecolor">
                        <a class="plus" routerLink="/expertise" fragment="Technologies"></a>
                        <h4 class="top30">TECHNOLOGIES AND CAPABILITIES</h4>
                    </div>
                </a>
            </div>
            <div class="cbp-item-wrapper">
                <img src="assets/images/expertise3.jpg" alt="Expertise R&D">
                <a routerLink="/expertise" fragment="R&D">
                    <div class="overlay center-block whitecolor">
                        <a class="plus" routerLink="/expertise" fragment="R & D"></a>
                        <h4 class="top30">R&D FACILITIES</h4>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="section6 contact relative">
        <div class="grid grid_c-1-1">
            <div class="left_side bglight text-center container-padding relative wow animated fadeInUp"
                data-animation="fadeInUp" data-wow-duration="1.5s" data-wow-delay="300ms">
                <div class="heading-title w100 bottom25 text-center">
                    <h2 class="top20 darkcolor">Lets get in touch</h2>
                </div>
                <div class="content grid grid_c-1-1 bottom20">
                    <div class="block corporate top30">
                        <h4 class="title bottom15">Corporate Office</h4>
                        <div class="heading-title text-center bottom15">
                            <p class="sans p_text">"Jindal House" Opp.
                                Shivranjani Shyamal 132 Ft Ring Road, Satellite, Ahmedabad - 380015, Gujarat, INDIA.</p>
                        </div>
                        <a class="color-two pickus" href="https://goo.gl/maps/Z6xNbF1skP15ZMor8"
                            data-text="Get Directions" target="_blank">Get Directions</a>
                    </div>
                    <div class="block manufacturing top30">
                        <h4 class="title bottom15">Manufacturing Unit</h4>
                        <div class="heading-title text-center bottom15">
                            <p class="sans p_text">Expede Tech Research &
                                Development Private Limited survey no. 1149/1,Navagam nayaka road, Village nayaka,Kheda
                                Gujarat- 387550</p>
                        </div>
                        <a class="color-two pickus" href="https://goo.gl/maps/Qd8L2C2nCSsEmnGv5"
                            data-text="Get Directions" target="_blank">Get Directions</a>

                    </div>
                    <div class="block inquiries top30">
                        <h4 class="title bottom15">General Inquiries</h4>
                        <a class="heading-title text-center sans p_text bottom15"
                            href="mailto:connect@jindalfinechem.com"
                            data-text="connect@jindalfinechem.coms">connect@jindalfinechem.com</a>

                    </div>
                    <div class="block contact-number top30">
                        <h4 class="title bottom15">Contact Number</h4>
                        <a class="heading-title text-center sans p_text bottom15" href="tel:+9107971001500"
                            data-text="+91 079 71001500">+91
                            079 71001500</a>
                    </div>
                </div>
            </div>
            <div class="right_side section-padding-small relative bgwhite ">
                <form class=" form contact_form top30 container-padding grid grid_c-1-1" [formGroup]="contactForm"
                    (submit)="onSubmit()">
                    <div class="form_group w100"
                        [class.has-error]=" formSubmitted && contactForm.get('name')?.invalid ">
                        <div class="input_wrapper w100">
                            <input class="w100" type="text" formControlName="name" placeholder="Enter your name..."
                                required />
                        </div>
                    </div>
                    <div class="form_group w100"
                        [class.has-error]=" formSubmitted && contactForm.get('email')?.invalid ">
                        <div class="input_wrapper w100">
                            <input class="w100" type="email" formControlName="email" placeholder="Your Email"
                                required />
                        </div>
                    </div>
                    <div class="form_group w100"
                        [class.has-error]=" formSubmitted && contactForm.get('mobile_no')?.invalid ">
                        <div class="input_wrapper w100">
                            <input pattern="^[0-9]{10}$" (keypress)="restrictNonNumeric($event)" maxlength="10"
                                class="w100" type="tel" formControlName="mobile_no" placeholder="Mobile No." required />
                        </div>
                    </div>
                    <div class="form_group w100"
                        [class.has-error]=" formSubmitted && contactForm.get('message')?.invalid ">
                        <div class="input_wrapper w100">
                            <input class="w100" type="text" formControlName="message" placeholder="Message" required />
                        </div>
                    </div>
                    <a (click)="onSubmit();" class="button submit_btn gradient_bg_two">
                        <div class="whitecolor">Send Message</div>
                    </a>
                </form>
            </div>
        </div>
    </section>

    <section class="maps w100 relative">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d130443.76222540202!2d72.60193173873698!3d22.956535941217272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s%22Jindal%20House%22%20Opp.%20Shivranjani%20Shyamal%20132%20Ft%20Ring%20Road%2C%20Satellite%2C%20Ahmedabad%20-%20380015%2C%20Gujarat%2C%20INDIA.!5e0!3m2!1sen!2sin!4v1666958343565!5m2!1sen!2sin"
            width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>
</div>